@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
	min-height: 100%;
	background-color: #fafafa;
}

.dark html,
.dark body,
.dark #root,
html.dark,
html.dark body,
html.dark #root {
	background-color: #171717;
}

* {
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}
